@model PorjetoUfsmArrano.Models.Usuario
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<nav class="navbar navbar-dark bg-primary" style="background-color: #0099ff;">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3 style="color: #FFFFFF; margin-top: 12px;"><b>ARRANO</b></h3>
        </div>

    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="border-bottom: 1px solid #666666; padding-right: 0px; padding-left: 0px;">
            <img style="width: 100px; margin-top: 25px; margin-bottom: 10px;" src="@Href("~/Content/imagens/logo.png")" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-right: 0px; padding-left: 0px;">
            <h1 class="titulo" style="padding: 2px 0 15px 0;">
                Autentique-se:
            </h1>
        </div>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    if (@ViewBag.Message != null)
                    {
                        <div style="border:1px solid red">
                            @ViewBag.Message
                        </div>
                    }
                    @*<div class="login-box">*@
                    <div>
                        @*<div class="login-box-body">*@
                        <div>
                            <form action="" method="post">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-2">Usuário:</label>
                                        <div class="col-md-10 col-sm-10 col-xs-10">
                                            @Html.TextBoxFor(a => a.login, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(a => a.login)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-2">Senha:</label>
                                        <div class="col-md-10 col-sm-10 col-xs-10">
                                            @Html.PasswordFor(a => a.senha, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(a => a.senha)
                                        </div>
                                    </div>
                                </div>
                              


                                <div class="box-footer text-center">
                                    <input type="submit" value="ENTRAR" class="btn btn-default" />
                                    <a href="@Url.Action("Esqueciminhasenha","Home")" class="btn btn-default">Esqueci minha Senha?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<authentication mode="Forms">
    <forms name=".RestricaoAcesso"
           loginurl="Login.cshtml"
           protection="All"
           timeout="200"
           path="/">
    </forms>
</authentication>

