@model PagedList.IPagedList<PorjetoUfsmArrano.Models.Treinamentos>
@{
    ViewBag.Title = "RelatorioTreinamento";
    Layout = "~/Views/Shared/pdf.cshtml";
}


<br /><br /><br /><br />
<section class="content-header">
    <div class="row">
        <div class="col-sm-12 col-md-12" style="padding-right: 0px; padding-left: 0px;">
            <div class="col-xs-9 col-sm-6 col-md-6" style="padding-right: 0px; padding-left: 18px;">
                <h1 class="titulo">
                    Relatório de Treinamentos Realizados

                </h1>
            </div>
            <div class="col-xs-3 col-sm-6 col-md-6 hidden-xs" style="padding-right: 0px; padding-left: 0px;">
                &nbsp;<img style="float: right; width: 100px; margin-top: 25px;" src="@Href("~/Content/imagens/logo.png")" />
            </div>
        </div>
    </div>
</section>

<table class="table">

    <tr>


        <th>Nome </th>
        <th>Descricao </th>
        <th>hora </th>
        <th>data</th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.nome)</td>
            <td>@Html.DisplayFor(modelItem => item.descricao)</td>
            <td>@Html.DisplayFor(modelItem => item.hora)</td>
            <td>@Html.DisplayFor(modelItem => item.data)</td>
         

        </tr> }

    <tr>

        <td><b>@Model.Count registos de @Model.TotalItemCount</b></td>

        <td><a href="/Treinamentos/RelatorioTreinamentoRealizados?gerarPDF=true"><b>GERAR PDF</b></a></td>
    </tr> }

    <tr>
</table>


            </div>

        </div>
@{
    if (Model.TotalItemCount != Model.Count)
    {
        <div class="row">
            <div class="col-md-12">
                Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

                @if (Model.HasPreviousPage)
                {
                    @Html.ActionLink("<<", "RelatorioTreinamentoRealizados", new { pagina = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                    @Html.Raw(" ");
                    @Html.ActionLink("< Anterior", "RelatorioTreinamentoRealizados", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                }
                else
                {
                    @:<<
                    @Html.Raw(" ");
                    @:< Anterior
                                         }

                @if (Model.HasNextPage)
                {
                    @Html.ActionLink("Próxima >", "RelatorioTreinamentoRealizados", new { pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                    @Html.Raw(" ");
                    @Html.ActionLink(">>", "RelatorioTreinamentoRealizados", new { pagina = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
                }
                else
                {
                    @:Próxima >
                    @Html.Raw(" ")
                    @:>>
                     }
            </div>
        </div>
    }
}

    </div>

        </div>

