@model PorjetoUfsmArrano.Models.BasesMilitares

@{
    ViewBag.Title = "Detalhes das bases militares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br /><br /><br /><br />
<section class="content-header">
    <div class="row">
        <div class="col-sm-12 col-md-12" style="padding-right: 0px; padding-left: 0px;">
            <div class="col-xs-9 col-sm-6 col-md-6" style="padding-right: 0px; padding-left: 18px;">
                <h1 class="titulo">
                    Bases Militares

                </h1>
            </div>
            <div class="col-xs-3 col-sm-6 col-md-6 hidden-xs" style="padding-right: 0px; padding-left: 0px;">
                &nbsp;<img style="float: right; width: 100px; margin-top: 25px;" src="@Href("~/Content/imagens/logo.png")" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12" style="border-bottom: 1px solid #666666;">
            <ol class="navegacao breadcrumb">
                <li><a href="@Url.Action("../Home")">Início</a></li>
                <li><a href="@Url.Action("index")">Cadastros</a></li>
                <li class="active">Bases Militares</li>
                <li class="active">Detalhes</li>
            </ol>
        </div>
    </div>
</section>


<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipologradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipologradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_contato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_contato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logo)
        </dt>

        <dd>
            <img width="120" height="150" src="data:image/jpg;base64,@(Convert.ToBase64String(@Model.logo))" alt="" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latlon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latlon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index")" class="btn btn-default">Cancelar</a>
</p>
