@model PorjetoUfsmArrano.Models.Cameras

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cameras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_treinamentos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_treinamentos)
        </dd>
        <dd>
            <img src='@Html.DisplayFor(model => model.Stream)' height="400" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
