@model  IEnumerable<PorjetoUfsmArrano.Models.Usuario>
@{
    ViewBag.Title = "RelatorioUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br />
<section class="content-header">
    <div class="row">
        <div class="col-sm-12 col-md-12" style="padding-right: 0px; padding-left: 0px;">
            <div class="col-xs-9 col-sm-6 col-md-6" style="padding-right: 0px; padding-left: 18px;">
                <h1 class="titulo">
                    Relatório de Usuários Cadastrados

                </h1>
            </div>
            <div class="col-xs-3 col-sm-6 col-md-6 hidden-xs" style="padding-right: 0px; padding-left: 0px;">
                &nbsp;<img style="float: right; width: 100px; margin-top: 25px;" src="@Href("~/Content/imagens/logo.png")" />
            </div>
        </div>
    </div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.login)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Bases)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefone)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.login)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Bases)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefone)
                    </td>
                    <td>
                        

                    </td>
                </tr>
            }

        </table>


       