<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - Portaria Virtual</title>
    <script src="~/Scripts/icheck.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="~/Content/skins/_all-skins.min.css" />
    <link rel="stylesheet" href="~/Content/skins/all.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/Scripts/html5shiv.min.js"></script>
        <script src="/Scripts/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="/Scripts/html5shiv.min.js"></script>
    <script src="/Scripts/respond.min.js"></script>
<![endif]-->
@*<link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">*@


<body style="height: 100%;">

    @RenderBody()

    <footer class="main-footer text-center container-fluid hidden-xs hidden-sm" style="background: #333333 !important; margin-left: auto; position: absolute; bottom: 0; width: 100%;">
        <strong>&copy;@DateTime.Now.Year - Arrano-UFSM</strong>
    </footer>
</body>
</html>


